@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind preflight;


.level {
  @apply flex flex-col items-center justify-center rounded-full shadow-lg bg-white w-24 h-24 z-10 relative shadow-md border-blue-400 border-2;
}

.level-status {
  @apply absolute text-xs font-bold text-gray-700 rounded-full flex items-center justify-center px-4 py-1 capitalize font-normal;
  bottom: -12px;
}

.lock .level-status {
  @apply bg-gray-200 border-2 border-gray-200 shadow-lg text-gray-700;
}

.pending .level-status {
  @apply bg-yellow-200 border-2 border-yellow-400 shadow-lg text-yellow-700;
}

.unlock .level-status {
  @apply bg-white border-2 border-gray-200 shadow-lg text-gray-700;
}

.completed .level-status {
  @apply bg-green-200 border-2 border-green-400 shadow-lg text-green-700;
}

.seniority-header {
  @apply text-center font-bold text-sm uppercase w-96 mt-6;
  background: linear-gradient(
    136deg,
    transparent 10%,
    rgb(96, 165, 250, 0.5) 10%,
    rgb(96, 165, 250, 0.5) 40%,
    transparent 40%,
    transparent 53%,
    rgb(96 ,165, 250, 0.5) 53%,
    rgb(96, 165, 250, 0.5) 71%,
    transparent 71%
  ),
  rgb(46, 116, 202);

  background-size: 600px 300px;
  border-radius: 13px;
  padding: 22px 16px;
  row-gap: 3px;

  color:rgb(39, 88, 148);
}
